html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(https://cdn.pixabay.com/photo/2022/07/25/15/18/cat-7344042_960_720.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  padding-bottom: 5rem;
  overflow: hidden;
}

.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: #0b0a0a;
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  backdrop-filter: blur(10px);
}

header {
  margin-top: 3rem;
}

header h1 {
  color: #fff;
  font-size: 2.5rem;
}
#citas {
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  height: 600px;
}

#citas::-webkit-scrollbar {
  width: 5px; /* Ajusta el ancho según sea necesario */
}

#citas::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color del fondo del pulgar */
}


.lista-citas .cita {
  border-bottom: 1px solid #e1e1e1;
  padding: 2rem;
  padding-bottom: 3rem;
}

.lista-citas .cita:last-of-type {
  border-bottom: 0;
}

.lista-citas .cita p {
  margin: 0;
  color: #333;
}

.lista-citas .cita button {
  margin-top: 1rem !important;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  
}

.lista-citas .cita span {
  font-weight: bold;
  color: #3498db;
}

textarea {
  height: 200px !important;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

svg {
  width: 21px;
  fill: #333;
}
